.mediaBtn {
    -fx-padding: 10 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
        -fx-text-fill: white;
    -fx-text-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}
.mediaBtn:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
.mediaBtn:pressed {
    -fx-padding: 12 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.mediaBtn Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}
.grid{
    -fx-background-color:#cccccc;
}
.menuPane{
    -fx-background-color:#999999;
        -fx-border-color: black;
    -fx-border-width:1 0 0 0;
}

.menuBtn{
    -fx-background-color:none;
    -fx-width:100%;
    -fx-background-radius:0;
    -fx-padding:20;
        -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill:black;
    -fx-cursor:hand;
    -fx-border-color: transparent black transparent transparent;
    -fx-border-width:1;
}
.menuBtn:hover{
    -fx-background-color:
        linear-gradient(to right,#999999 0%,#cccccc 30%, #cccccc 100%);
    -fx-border-color: blue blue blue transparent;
}
.menuBtnActive{
    -fx-background-color:
        linear-gradient(to right,#999999 0%,#cccccc 30%, #cccccc 100%);
    -fx-border-color: linear-gradient(to right,#999999 0%,black 50%, black 100%) transparent linear-gradient(to right,#999999 0%,black 50%, black 100%) transparent;
}
.cicleLabel
{
    -fz-font-size:1.1em;
}